<% @update_area = get_unique_area_id %>

<div class="page_caption"><%= t(:storage_tablespace_usage_header_caption, :default=>'Storage-objects for database')%>  <%= get_current_database[:sid] %> <%= localeDateTime(Time.now, :minutes) %></div>

<%
def total_data_style(rec)
  "font-weight:bold;" if rec.contents == "TOTAL"
end

column_options =
[
  {:caption=>"Typ",         :data=>proc{|rec| rec.contents},                    :title=>t(:storage_tablespace_usage_total_type_hint, :default=>'Type of allocation'),   :data_style=>proc{|rec| total_data_style(rec)} },
  {:caption=>"MB Total",    :data=>proc{|rec| formattedNumber(rec.mbtotal)},    :title=>t(:storage_tablespace_usage_total_size_total_hint, :default=>'Total size in MBytes'),        :align=>:right,   :data_style=>proc{|rec| total_data_style(rec)} },
  {:caption=>"MB Used",     :data=>proc{|rec| formattedNumber(rec.mbused)},     :title=>t(:storage_tablespace_usage_total_size_used_hint, :default=>'Used size in MBytes'),    :align=>:right,   :data_style=>proc{|rec| total_data_style(rec)} },
  {:caption=>"MB Free",     :data=>proc{|rec| formattedNumber(rec.mbfree)},     :title=>t(:storage_tablespace_usage_total_size_free_hint, :default=>'Free size in MBytes'),       :align=>:right,   :data_style=>proc{|rec| total_data_style(rec)} },
  {:caption=>"% used",      :data=>proc{|rec| formattedNumber(rec.mbused.to_f/rec.mbtotal*100,1)},  :title=>t(:storage_tablespace_usage_total_pct_hint, :default=>'Percent used'),                   :align=>:right,   :data_style=>proc{|rec| total_data_style(rec)} },
]

%>
<div>
  <%= gen_slickgrid(@totals, column_options, {:caption=>t(:storage_tablespace_usage_total_caption, :default=>'Sums total'), :width=>:auto, :max_height=>450, :no_wrap=>true}) %>
</div>

<%
column_options =
[
  {:caption=>"Segment-Type",   :data=>proc{|rec| rec.segment_type},                   :title=>t(:storage_tablespace_usage_segment_type_hint, :default=>'Segment type of sum')},
  {:caption=>"MBytes",       :data=>proc{|rec| formattedNumber(rec.mbytes)},          :title=>t(:storage_tablespace_usage_segment_mbytes_hint, :default=>'Size of segment type (used space net) in MBytes'),        :align=>:right},
]

%>

<div>
  <%= gen_slickgrid(@segments, column_options, {:caption =>t(:storage_tablespace_usage_segment_caption, :default=>'Net sums in TS by segment types'), :width=>:auto, :max_height=>450, :no_wrap=>true}) %>
</div>

<%

  def link_mb_used(rec)
    if rec.contents == 'PERMANENT'
      ajax_link(fn(rec.mbused),
                         {:controller   => :dba_schema,
                          :action       => :list_objects,
                          :tablespace   => {:name => rec.tablespace_name},
                          :update_area  => @update_area,
                         },
                 :title=>t(:storage_tablespace_usage_tablespaces_link_hint, :default=>'Show objects of tablespace')
     )
    else
      fn rec.mbused
    end
  end


   column_options =
[
  {:caption=>"Tablespace",          :data=>proc{|rec| rec.tablespace_name},             :title=>t(:storage_tablespace_usage_tablespace_name_hint, :default=>'Name of tablespace')},
  {:caption=>"Contents",            :data=>proc{|rec| rec.contents},                    :title=>t(:storage_tablespace_usage_tablespace_content_hint, :default=>'Type/content of tablespace') },
  {:caption=>"Blocksize",           :data=>proc{|rec| formattedNumber(rec.blocksize)},  :title=>t(:storage_tablespace_usage_tablespace_blocksize_hint, :default=>'Blocksize of tablespace in Bytes'),        :align=>:right},
  {:caption=>"MB Total",            :data=>proc{|rec| formattedNumber(rec.mbtotal)},    :title=>"Größe des Tablespace gesamt in MB",        :align=>:right},
  {:caption=>"MB Used",             :data=>proc{|rec| link_mb_used(rec) },              :title=>"Genutzter Platz des Tablespaces in MB",    :align=>:right},
  {:caption=>"MB Free",             :data=>proc{|rec| formattedNumber(rec.mbfree)},     :title=>"Freier Platz des Tablespaces in MB",       :align=>:right},
  {:caption=>"% used",              :data=>proc{|rec| formattedNumber(rec.pctused,1)},  :title=>"Prozentuale Auslastung",                   :align=>:right},
  {:caption=>"Status",              :data=>proc{|rec| rec.status}},
  {:caption=>"Content",             :data=>proc{|rec| rec.contents}},
  {:caption=>"Logging",             :data=>proc{|rec| rec.logging}},
  {:caption=>"Force L.",            :data=>proc{|rec| rec.force_logging}},
  {:caption=>"Extent mgmt.",        :data=>proc{|rec| rec.extent_management},           :title=>'Extent management'},
  {:caption=>"Allocation Type",     :data=>proc{|rec| rec.allocation_type}},
  {:caption=>"Pl. in",              :data=>proc{|rec| rec.plugged_in},                  :title=>'Indicates whether the tablespace is plugged in '},
  {:caption=>"Segment Space Mgmt.", :data=>proc{|rec| rec.segment_space_management},    :title=>'Indicates whether the free and used segment space in the tablespace is managed using free lists (MANUAL) or bitmaps (AUTO)'}
]
  column_options << {:caption=>"Def. table compression", :data=>proc{|rec| rec.def_tab_compression},      :title=>'Indicates whether default table compression is enabled (ENABLED) or not (DISABLED)', :data_title=>proc{|rec| get_db_version >= '11.2' ? "%t\nCompress For = #{rec.compress_for}" : "%t"}}
  column_options << {:caption=>'Big file',            :data=>proc{|rec| rec.bigfile},                     :title=>'Indicates whether the tablespace is a bigfile tablespace (YES) or a smallfile tablespace (NO)'}
  column_options << {:caption=>"Auto ext.",           :data=>proc{|rec| rec.autoextensible},              :title=>"Auto-Extensible ?"}
  column_options << {:caption=>'Encrypt.',            :data=>proc{|rec| rec.encrypted},                   :title=>"Indicates whether the tablespace is encrypted"} if get_db_version >= '11.2'
  column_options << {:caption=>'Def. in memory',      :data=>proc{|rec| rec.def_inmemory},                :title=>"Indicates whether the In-Memory Column Store (IM column store) is by default enabled (ENABLED) or disabled (DISABLED) for tables in this tablespace"} if get_db_version >= '12.1'



%>

<div>
  <%= gen_slickgrid(@tablespaces, column_options, {:caption => "Tablespace-Usage", :width=>:auto, :max_height=>450, :no_wrap=>true}) %>
</div>

<% if @fra_usage.length > 0 %>

<%
   column_options =
           [
                   {:caption=>"File type",  :data=>proc{|rec| rec.file_type},                    :title=>'File type within fast recovery area'},
                   {:caption=>"MBytes",     :data=>proc{|rec| fn(rec.percent_space_used*@fra_size_bytes/(1024*1024)/100,2)},     :title=>'Used space in FRA in MB',        :align=>:right},
                   {:caption=>"% used",     :data=>proc{|rec| fn(rec.percent_space_used,2)},     :title=>'Percentage used from total',        :align=>:right},
           ]

%>

<div>
  <%= gen_slickgrid(@fra_usage, column_options, {:caption=> "Usage of fast recovery area (FRA), total FRA size = #{fn(@fra_size_bytes/(1024*1024*1024),2) } GB", :width=>:auto, :max_height=>450, :no_wrap=>true}) %>
</div>

<% end %>

<%
  def link_mb(rec)
    ajax_link(fn(rec.total_mbytes),
                 {:controller   => :dba_schema,
                          :action       => :list_objects,
                          :schema       => {:name => rec.schema},
                          :update_area  => @update_area,
                  },
                 :title=>t(:storage_tablespace_usage_schemas_link_hint, :default=>'Show objects of schema')
     )
  end

column_options =
[
  {:caption=>"Schema",  :data=>proc{|rec| rec.schema},                  :title=>"Schema / Owner"},
]

@schema_segment_types.each do |type, dummy|
  column_options <<  {:caption=>type,  :data=>proc{|rec| formattedNumber(rec[type])}, :title=>t(:storage_tablespace_usage_schemas_mb_hint, :default=>'Used space in MBytes for segment type'),  :align=>:right}
end
column_options <<  {:caption=>'Total MB',  :data=>proc{|rec| link_mb(rec)}, :title=>t(:storage_tablespace_usage_schemas_mb_hint, :default=>'Used space in MBytes for segment type'),  :align=>:right}


%>

<div>
  <%= gen_slickgrid(@schemas, column_options, {:caption=> "Schema-Usage ( if > 1 MB)", :width=>:auto, :max_height=>450, :no_wrap=>true}) %>
</div>

<div id="<%= @update_area %>" style="clear: both;">
</div>