<h3><%= t(:env_list_management_pack_license_caption, :default=>'Usage of Oracle management packs by Panorama') %> </h3>

<% unless @control_management_pack_access.nil? %>
    <%= "#{t(:env_list_management_pack_license_setting, :default=>"Your database's init-Parameter")} 'control_management_pack_access' = '#{@control_management_pack_access}'." %><br/><br/>
<% end %>
<div style="width: auto;">
  <div class="fieldset_input_outer">
    <fieldset class="fieldset_input">
    <legend><%= t(:env_list_management_pack_license_legend, :default=>'Licensing of management packs for your current database') %> (<%= PanoramaConnection.edition == :enterprise ? 'Enterprise' : 'Standard' %> Edition)</legend>

      <% if PanoramaConnection.edition == :enterprise %>

        <div class="float_left" title="<%= t(:env_list_management_pack_license_dp_hint, :default=>"Panorama will access Oracle's 'Diagnostic Pack' if you choose this option\nbut doesn't access Oracle's 'Tuning Pack'.\nAvailable only for Enterprise Edition, not for Standard Edition") %>">
          <%= radio_button_tag(:management_pack_license, :diagnostics_pack, get_current_database[:management_pack_license] == :diagnostics_pack,
                               :onclick=>"ajax_html('#{params[:update_area]}', 'env', 'set_management_pack_license', {management_pack_license: 'diagnostics_pack', update_area: '#{params[:update_area]}'} );",
                               :disabled => PanoramaConnection.edition != :enterprise
              )
          %>
          <%= label_tag(:management_pack_license_diagnostics_pack, t(:env_list_management_pack_license_dp_caption, :default=>'Use licensed Diagnostics Pack'))%>
        </div>

        <div class="float_left" title="<%= t(:env_list_management_pack_license_tp_hint, :default=>"Panorama will access Oracle's 'Diagnostic Pack' and 'Tuning Pack' if you choose this option.\nAvailable only for Enterprise Edition, not for Standard Edition") %>">
          <%= radio_button_tag(:management_pack_license, :diagnostics_and_tuning_pack, get_current_database[:management_pack_license] == :diagnostics_and_tuning_pack,
                               :onclick=>"ajax_html('#{params[:update_area]}', 'env', 'set_management_pack_license', {management_pack_license: 'diagnostics_and_tuning_pack', update_area: '#{params[:update_area]}'} ); ",
                               :disabled => PanoramaConnection.edition != :enterprise
              )
          %>
          <%= label_tag(:management_pack_license_diagnostics_and_tuning_pack, t(:env_list_management_pack_license_tp_caption, :default=>'Use licensed Diagnostics Pack and Tuning Pack'))%>
        </div>

    <% end %>


      <% if  get_current_database[:panorama_sampler_schema] %>
          <div class="float_left" title="<%= t(:env_list_management_pack_license_panorama_sampler_hint, :default=>"Panorama will use it's own sampled workload history produced by process \"Panorama-Sampler\".\nIt will not access Oracle's 'Diagnostic Pack' or 'Tuning Pack' if you choose this option.\nThis function \"Panorama-Sampler\" is still in development, coming soon.\n\"Panorama-Sampler\" will become available for Standard- and Enterprise-Edition.") %>">
            <%= radio_button_tag(:management_pack_license, :panorama_sampler, get_current_database[:management_pack_license] == :panorama_sampler,
                                 :onclick=>"ajax_html('#{params[:update_area]}', 'env', 'set_management_pack_license', {management_pack_license: 'panorama_sampler', update_area: '#{params[:update_area]}'} );"
                )
            %>
            <%= label_tag(:management_pack_license_none, t(:env_list_management_pack_license_panorama_sampler_caption, :default=>'Use Panorama-Sampler data'))%>
          </div>
      <% end %>

      <div class="float_left" title="<%= t(:env_list_management_pack_license_none_hint, :default=>"Panorama will not access Oracle's 'Diagnostic Pack' or 'Tuning Pack' if you choose this option.") %>">
        <%= radio_button_tag(:management_pack_license, :none, get_current_database[:management_pack_license] == :none,
                             :onclick=>"ajax_html('#{params[:update_area]}', 'env', 'set_management_pack_license', {management_pack_license: 'none', update_area: '#{params[:update_area]}'} );"
            )
        %>
        <%= label_tag(:management_pack_license_none, t(:env_list_management_pack_license_none_caption, :default=>'No management packs are licensed'))%>
      </div>
    </fieldset>
  </div>
</div>

<% unless @control_management_pack_access.nil? %>
    <div style="color:red;">
      <% @english_text = "Your database's 'control_management_pack_access'-setting says %{pack} is not licensed!\nPanorama will use %{pack} with this setting\nand you may eventually violate Oracle's license agreements!" %>


      <% if get_current_database[:management_pack_license] == :diagnostics_pack && !@control_management_pack_access['DIAGNOSTIC'] %>
           <%= my_html_escape(t(:env_licensing_diagnostics_pack_violated, :default=>@english_text, :pack=>'Diagnostic Pack')).html_safe  %>
      <% end %>

      <% if get_current_database[:management_pack_license] == :diagnostics_and_tuning_pack && !@control_management_pack_access['TUNING'] %>
          <%= my_html_escape(t(:env_licensing_diagnostics_pack_violated, :default=>@english_text, :pack=>'Tuning Pack')).html_safe  %>
      <% end %>

      <br/>
    </div>
<% end %>
