<h2><%= t :env_current_database, :default=>"Current database" %></h2>

<%= "JDBC connect string = \"#{jdbc_thin_url}\"" %><br/>
<%= "JDBC driver version = \"#{ConnectionHolder.get_jdbc_driver_version}\"" %><br/>
<%= "Client time zone = \"#{java.util.TimeZone.get_default.get_id}\", #{java.util.TimeZone.get_default.get_display_name}" %><br/>
<br/>

<%  @banners.each do |b| %>
  <%= (b.banner+"<br>").html_safe %>
<% end %>
<br/>
Platform: <%= @platform_name%>
<br/><br/>


<% column_options =
  [
    {:caption=>"Instance",      :data=>proc{|rec| "#{rec.instance_number}#{" (*)" if rec.instance_connected && @instance_data.length >1}" },       :title=>"Instance number, (*) for connecting instance"},
    {:caption=>"Name",          :data=>proc{|rec| rec.instance_name },                  :title=>"Instance name"},
    {:caption=>"Hostname",      :data=>proc{|rec| rec.host_name },                      :title=>"Last startup time of instance"},
    {:caption=>"Startup",       :data=>proc{|rec| localeDateTime(rec.startup_time) },   :title=>"Startup der DB", :data_title=>proc{|rec| "%t, open mode = #{rec.open_mode}"}},
    {:caption=>"Archiver",      :data=>proc{|rec| rec.archiver },                       :title=>"Archiver mode of instance"},
    {:caption=>"Character-Set", :data=>proc{|rec| rec.nls_characterset },               :title=>"Character set of database", :data_title=>proc{|rec| "%t: NChar_Character_Set=#{rec.nls_nchar_characterset}"}},
    {:caption=>"Instance-Role", :data=>proc{|rec| rec["instance_role"] },                  :title=>"Instance role for data guard"},
    {:caption=>"CPU-Count",     :data=>proc{|rec| rec.cpu_count },                      :title=>"Number of CPUs counted for instance"},
    {:caption=>"Protection mode", :data=>proc{|rec| rec.protection_mode },              :title=>"Protection mode currently in effect for the database.\nLook at DB-parameter \"log_archive_dest_n\" to recognize what sync-mode is used for standby configuration (SYNC or NOSYNC, AFFIRM or NOAFFIRM).",  :data_title=>proc{|rec| "%t\nProtection level = #{rec.protection_level}"}},
    {:caption=>"Switchover status", :data=>proc{|rec| rec.switchover_status },          :title=>"Indicates whether switchover is allowed:\nNOT ALLOWED - Either this is a standby database and the primary database has not been switched first or this is a primary database and there are no standby databases."},
    {:caption=>"DG broker",     :data=>proc{|rec| rec.dataguard_broker },               :title=>"Indicates whether the Data Guard configuration is being managed by the broker (ENABLED) or not (DISABLED)"},
    {:caption=>"Force logging", :data=>proc{|rec| rec.force_logging },                  :title=>"Indicates whether the database is under force logging mode (YES) or not (NO)"},
    {:caption=>"AWR interval",  :data=>proc{|rec| rec.snap_interval_minutes },          :title=>'Interval in minutes for AWR-snapshots', :align=>:right},
    {:caption=>"AWR retention", :data=>proc{|rec| rec.snap_retention_days },            :title=>'Retention in days for AWR-snapshots', :align=>:right},
  ]
  column_options << {:caption=>'CDB',           :data=>proc{|rec| rec.cdb },            :title=>'Is this database a container DB (PDB)?', :align=>:right}  if get_db_version >= '12.1'


%>
<%= gen_slickgrid(@instance_data, column_options, {
    :caption => "Instance data", :width => :auto
})
%>

<% @update_area_dbids = get_unique_area_id %>
<script type="text/javascript">
  jQuery.ajax({method: "POST", url: "env/list_dbids", data: {update_area: "<%= @update_area_dbids %>"} });
</script>
<div id="<%= @update_area_dbids %>"></div>


<% if get_current_database[:cdb] %>
    <% column_options =
           [
               {:caption=>'Inst.',            :data=>proc{|rec| rec.inst_id},                         :title=>"Instance number"},
               {:caption=>'Con-ID',           :data=>proc{|rec| "#{rec.con_id}#{" (*)" if rec.con_id == rec.connected_con_id}" },   :title=>"The ID of the container to which the data pertains. Possible values include:\n0: This value is used for rows containing data that pertain to the entire CDB. This value is also used for rows in non-CDBs.\n1: This value is used for rows containing data that pertain to only the root\nn: Where n is the applicable container ID for the rows containing data\n(*) for the container-ID you are connected on"},
               {:caption=>'DBID',             :data=>proc{|rec| rec.dbid },                           :title=>"PDB identifier calculated when the PDB is created and stored in all file headers associated with the PDB"},
               {:caption=>'Con-UID',          :data=>proc{|rec| fn rec.con_uid },                     :title=>"Unique identifier associated with the PDB"},
               {:caption=>'Name',             :data=>proc{|rec| rec.name },                           :title=>"Name of the PDB"},
               {:caption=>'Open mode',        :data=>proc{|rec| rec.open_mode},                       :title=>"Open mode info"},
               {:caption=>'Restricted',       :data=>proc{|rec| rec.restricted},                      :title=>"Indicates whether only users possessing RESTRICTED SESSION privilege can connect to the PDB"},
               {:caption=>'Open time',        :data=>proc{|rec| localeDateTime(rec.open_time)},       :title=>"Date and time when the database was last opened"},
               {:caption=>'Total size',       :data=>proc{|rec| fn(rec.total_size/(1024*1024))},      :title=>"If a PDB is opened, disk space (in MBytes) used by the container,\nincluding both data and temp files.\nIf a PDB is closed, will be set to 0."},
               {:caption=>'Block size',       :data=>proc{|rec| fn(rec.block_size)},                  :title=>"The current block size for the PDB"},
               {:caption=>'Recovery status',  :data=>proc{|rec| rec.recovery_status},                 :title=>"Shows whether recovery is enabled or disabled for the PDB."},
               {:caption=>'Snapshot parent',  :data=>proc{|rec| rec.snapshot_parent_con_id },         :title=>"This column shows the container ID of the master PDB that this PDB is a snapshot clone of.\nThis column shows a non-zero value only if the PDB is a snapshot clone.\nFor all other cases, it shows a value of 0."},
           ]
       column_options << {:caption=>'Application root',         :data=>proc{|rec| rec.application_root},                :title=>"Docu. for 12.2 not yet available"} if get_db_version >= '12.2'
       column_options << {:caption=>'Application PDB',          :data=>proc{|rec| rec.application_pdb},                 :title=>"Docu. for 12.2 not yet available"} if get_db_version >= '12.2'
       column_options << {:caption=>'Application seed',         :data=>proc{|rec| rec.application_seed},                :title=>"Docu. for 12.2 not yet available"} if get_db_version >= '12.2'
       column_options << {:caption=>'Application root con-ID',  :data=>proc{|rec| rec.application_root_con_id},         :title=>"Docu. for 12.2 not yet available"} if get_db_version >= '12.2'
       column_options << {:caption=>'Application root clone',   :data=>proc{|rec| rec.application_root_clone},          :title=>"Docu. for 12.2 not yet available"} if get_db_version >= '12.2'
       column_options << {:caption=>'Proxy PDB',                :data=>proc{|rec| rec.proxy_pdb},                       :title=>"Docu. for 12.2 not yet available"} if get_db_version >= '12.2'
       column_options << {:caption=>'Local UNDO',               :data=>proc{|rec| rec.local_undo},                      :title=>"Docu. for 12.2 not yet available"} if get_db_version >= '12.2'
       column_options << {:caption=>'Local UNDO',               :data=>proc{|rec| rec.local_undo},                      :title=>"Docu. for 12.2 not yet available"} if get_db_version >= '12.2'
       column_options << {:caption=>'Creation time',            :data=>proc{|rec| localeDateTime(rec.creation_time)},   :title=>"Docu. for 12.2 not yet available"} if get_db_version >= '12.2'
       column_options << {:caption=>'PDB count',                :data=>proc{|rec| fn rec.pdb_count},                    :title=>"Docu. for 12.2 not yet available"} if get_db_version >= '12.2'
       column_options << {:caption=>'Audit files size',         :data=>proc{|rec| fn rec.audit_files_size},             :title=>"Docu. for 12.2 not yet available"} if get_db_version >= '12.2'
       column_options << {:caption=>'Max. size',                :data=>proc{|rec| fn rec.max_size},                     :title=>"Docu. for 12.2 not yet available"} if get_db_version >= '12.2'
       column_options << {:caption=>'Max. diag. size',          :data=>proc{|rec| fn rec.max_diagnostics_size},         :title=>"Docu. for 12.2 not yet available"} if get_db_version >= '12.2'
       column_options << {:caption=>'Max. audit size',          :data=>proc{|rec| fn rec.max_audit_size},               :title=>"Docu. for 12.2 not yet available"} if get_db_version >= '12.2'




    %>
    <%= gen_slickgrid(@containers, column_options, {
        :caption => "Pluggable database info from gv$Containers", :max_height=>200, :width => :auto
    })
    %>
<% end %>


<% if @dictionary_access_problem %>
    <h2><%= "Dictionary Access-Problem"   %></h2>
    <div style='color:red;'><br/>
      <%= @dictionary_access_msg.html_safe %>
    </div>
<% end %>

<h2><%= t :env_licensing_header, :default=>"Licensing" %></h2>
<%= render :partial => 'licensing' %>

<% unless @control_management_pack_access.nil? %>
    <br>
    <div style="color:red;">
      <%="Oracle Diagnostics Pack #{ @control_management_pack_access['DIAGNOSTIC'] ?  t(:env_set_database_mgmt_msg_true, :default=>'is for this database marked as licensed and will be used by Panorama') :  t(:env_set_database_mgmt_msg_false, :default=>'is for this database marked as not licensed')}." %>
      <br/>
      <%="Oracle Tuning Pack #{ @control_management_pack_access['TUNING'] ?  t(:env_set_database_mgmt_msg_true, :default=>'is for this database marked as licensed and will be used by Panorama') :  t(:env_set_database_mgmt_msg_false, :default=>'is for this database marked as not licensed')}." %>
      </div>
    <%= "Init-Parameter 'control_management_pack_access' = '#{@control_management_pack_access}'." %>
<% end %>


<h2><%= t :env_handling_hints, :default=>"Handling hints" %></h2>

<h3><%= t :generally, :default=>"Generally" %></h3>
<ul>
  <li><%= t :env_handling_hint_generally_1, :default=>"Context-info ist provided system-wide by mouse-over hints" %></li>
  <li><%= t :env_handling_hint_generally_2, :default=>"Details for shown values are often available by clicking on hyperlinks" %></li>
  <li><%= t :env_handling_hint_generally_3, :default=>"Details are shown inline in table cells or continued at bottom of current page" %></li>
</ul>

<h3><%= t :tables, :default=>"Tables" %></h3>
<ul>
  <li><%= t :env_handling_hint_1, :default=>"Sort table content by clicking column-header" %></li>
  <li><%= t :env_handling_hint_2, :default=>"Sort by multiple columns may be done by subsequent sorting of single columns" %></li>
  <li><%= t :env_handling_hint_3, :default=>"Search filter, optional diagram view and export to Excel are available via context menu (right mouse button)" %></li>
</ul>


