<div class="page_caption"><%= @modus==:new ? 'Add new' : 'Edit' %> Panorama-Sampler configuration</div>

<%= ajax_form(
        :controller   => :panorama_sampler,
        :action       => :save_config,
        :update_area  => :content_for_layout,
        :modus        => @modus,
        :id           => @config[:id]
    ) do %>

  <table>
    <tr>
      <th>ID</th>
      <td align="center" title="Unique identifier for config entry"><%= @config[:id] %></td>
    </tr>

    <tr>
      <th>Active</th>
      <td align="center"><%= check_box_tag(:config_active, 1, @config[:active], :name=>'config[active]', :title=>"Active-state, sampling occurs for active configurations only") %></td>
    </tr>

    <tr>
      <th>Config name</th>
      <td align="center"><%= text_field_tag(:config_name, @config[:name], :name=>'config[name]', :style=>"width:95%;", :title=>"Name / description for configuration") %></td>
    </tr>

    <tr>
      <th>DB identification mode</th>
      <td align="center">
        <div title="Select mode for identification of database">
          <%= radio_button_tag(:config_modus, :tns,  true,  {:name=>'config[modus]', :onclick => "jQuery('.edit_config_tns').css('display', '');     jQuery('.edit_config_host').css('display', 'none');" }) %>TNS-Names
          <%= radio_button_tag(:config_modus, :host, false, {:name=>'config[modus]', :onclick => "jQuery('.edit_config_tns').css('display', 'none'); jQuery('.edit_config_host').css('display', '');" }) %>Host, Port, SID/Service-Name
        </div>
      </td>
    </tr>

    <tr class="edit_config_tns">
      <th title="<%= t :login_tns_hint, :default=>"Choose Oracle TNS-Alias (from tnsnames.ora at server side)" %>">TNS-Alias</th>
      <% @tnsnames = read_tnsnames %>
      <td align="center">
        <div title="<%= t(:login_tns_hint, :default=>"Choose Oracle TNS-Alias (from tnsnames.ora at server side)") %>">
          <div id="config_tns"></div> <!-- Befuellung geschieht durch Ajax-Call auf env/get_tnsnames_records -->
        </div>
      </td>
    </tr>

    <tr class="edit_config_host" style="display: none">
      <th title="Host-name. Übersteuert TNS-Alias wenn belegt">Host</th>
      <td align="center"><%= text_field_tag(:config_host, @config[:host], :name=>'config[host]', :style=>"width:95%;", :title=>t(:login_database_host_hint, :default=>"hostname or IP adress") ) %></td>
    </tr>

    <tr class="edit_config_host" style="display: none">
      <th>Port</th>
      <td align="center"><%= text_field_tag(:config_port, @config[:port], :name=>'config[port]', :style=>"width:95%;", :title=>"Port-Nummer" ) %></td>
    </tr>

    <tr class="edit_config_host" style="display: none">
      <th>SID/Service</th>
      <td align="center">
        <div title="<%= t(:login_sid_service_title, :default=>"Interpret value as SID or Service-Name?") %>">     <!-- special IE-Hack because of bug http://bugs.jqueryui.com/ticket/8798  -->
          <%= radio_button_tag('config_sid_usage', :SID,          true,  {:name=>'config[sid_usage]'}) %>SID
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= radio_button_tag('config_sid_usage', :SERVICE_NAME, false, {:name=>'config[sid_usage]'}) %>Service-Name
        </div>
        <div style="padding-top: 5px;">
          <%= text_field_tag(:config_sid, @config[:sid], :name=>'config[sid]', :style=>"width:95%;", :title=>t(:login_database_sid_hint, :default=>"SID or service name of database")) %>
        </div>
      </td>
    </tr>

    <tr>
      <th>Username</th>
      <td align="center"><%= text_field_tag(:config_user, @config[:user], :name=>'config[user]', :style=>"width:95%;", :title=>"Name of user to connect to database for workload recording") %></td>
    </tr>

    <tr>
      <th>Password</th>
      <td align="center"><%= password_field_tag(:config_password, @config[:password], :name=>'config[password]', :style=>"width:95%;", :title=>"Password of user to store Panorama's tables for workload recording.\nPassword is changed only if new password entered here.\nLeave empty to preserve existing password.") %></td>
    </tr>

    <tr>
      <th>Schema owner</th>
      <td align="center"><%= text_field_tag(:config_owner, @config[:owner], :name=>'config[owner]', :style=>"width:95%;", :title=>"Name of user/schema to store Panorama's tables for workload recording.\nConnection user must have rights to create objects in this schema.\nNeed to define only if different from connection username.") %></td>
    </tr>

    <tr>
      <th>Snapshot cycle (minutes)</th>
      <td align="center"><%= text_field_tag(:config_snapshot_cycle, @config[:snapshot_cycle], :name=>'config[snapshot_cycle]', :style => "width:95%; text-align: right;", :title=>'Delay between snapshots in minutes') %></td>
    </tr>

    <tr>
      <th>Snapshot retention (days)</th>
      <td align="center"><%= text_field_tag(:config_snapshot_retention, @config[:snapshot_retention], :name=>'config[snapshot_retention]', :style => "width:95%; text-align: right;", :title=>'Retention time for snapshot data in days before deletion') %></td>
    </tr>

  </table>
  <%= submit_tag('Test connection', :title =>"Test connection to configured database" ) %>
  <%= submit_tag('Save', :title =>"Save configuration data" ) %>

<% end %>

<script type="text/javascript">
    if ('<%= @config[:modus] %>' == 'host')
        jQuery('#config_modus_host').click();
    if ('<%= @config[:sid_usage] %>' == 'SERVICE_NAME')
        jQuery('#config_sid_usage_SERVICE_NAME').click();
    jQuery.ajax({type: 'GET', url:'env/get_tnsnames_records?target_object=config&selected=<%= @config[:tns] %>', async: false});
</script>
