<!-- @update_area muss durch Aufrufer gesetzt sein -->
<br/>
<% if @sql_bind_count > 0 %>
  <div class="float_left">
    <%= ajax_submit("Bind variables (#{@sql_bind_count})", {
        :update_area    => @update_area,
        :controller     => :dba_sga,
        :action         => :list_bind_variables,
        :instance       => @sql.inst_id,
        :sql_id         => @sql.sql_id,
        :child_number   => @sql['child_number'],
        :child_address  => @sql['child_address'],
    }, :title =>t(:dba_sga_list_sql_sga_stat_footer_bind_hint, :default=>"Show bind variables of last execution of SQL"))
    %>
  </div>
<% end %>

<div style="clear: both"></div>

<div class="float_left">
  <%= ajax_submit(t(:dba_sga_list_sql_sga_stat_footer_complete_timeline_caption, :default=>'Full history'), {
           :update_area => @update_area,
           :action      => :list_sql_history_snapshots,
           :controller  => :dba_history,
           :instance    => @sql.inst_id,
           :sql_id      => @sql.sql_id,
           :groupby     => :day,
           :parsing_schema_name => @sql.parsing_schema_name
      }, :title =>t(:dba_sga_list_sql_sga_stat_footer_complete_timeline_hint, :default=>"Show complete time history of SQL from AWR for SQL-ID='%{sql_id}' and instance=%{instance}", sql_id: @sql.sql_id, instance: @sql.inst_id))
  %>
</div>
<div class="float_left">
      <%=
        ajax_submit("Cursor Sharing (#{@sql.child_count} #{t(:versions, :default=>'versions')})", {
                                     :update_area => @update_area,
                                     :action      => :list_sql_shared_cursor,
                                     :instance    => @sql.inst_id,
                                     :sql_id      => @sql.sql_id
        }, :title =>t(:dba_sga_list_sql_sga_stat_footer_cursor_sharing_hint, :default=>'Reasons for not using shared cursors (gv$SQL_Shared_Cursor) if multiple versions of SQL exists in gv$SQL')
          )
      %>
</div>
<div class="float_left">
        <%= ajax_submit("Active Session History", {
                                       :update_area => @update_area,
                                       :controller  => :active_session_history,
                                       :action      => :show_prepared_active_session_history,
                                       :instance    => @sql.inst_id,
                                       :sql_id      => @sql.sql_id
        }, :title => t(:list_sql_detail_sql_id_childno_active_session_history_title, :default=>"Show active session history data for SQL-ID")
            )
        %>
</div>
<div class="float_left">
    <%=
      ajax_submit("Open Cursor (#{@open_cursors})", {
                    :action     => :list_open_cursor_per_sql,
                    :instance   => @instance,
                    :sql_id     => @sql_id,
                    :update_area=> @update_area
      }, :title=>t(:dba_sga_list_sql_sga_stat_footer_open_cursor_hint, :default=>'Show current open cursor of SQL in sessions'))
    %>
</div>

<% if @sql['child_number'] %>
    <div class="float_left">
      <%=
        ajax_submit('DBMS_XPLAN', {
                                     :action        => :list_dbms_xplan_display,
                                     :instance      => @instance,
                                     :sql_id        => @sql_id,
                                     :child_number  => @sql.child_number,
                                     :child_address => @sql.child_address,
                                     :update_area=> @update_area
        }, :title=>t(:dba_sga_list_sql_sga_stat_footer_dbms_xplan_hint, :default=>'Show execution plan as output from call DBMS_XPLAN.DISPLAY'))
      %>
    </div>
<% end %>

<% if get_current_database[:management_pack_license] == :diagnostics_and_tuning_pack %>
  <div class="float_left">
    <%=
      ajax_submit("SQL-Monitor (#{@sql_monitor_sessions})", {
                                 :action          => :list_sql_monitor_sessions,
                                 :instance        => @instance,
                                 :sql_id          => @sql_id,
                                 :plan_hash_value => (@sql.plan_hash_value_count == 1 ? @sql.plan_hash_value : nil),
                                 :update_area=> @update_area
      },
                         #:disabled => (@sql_monitor_sessions == 0),
                  :title    => strings(:sql_monitor_link_title),
                  'data-disable-with'=>false
      )
    %>
  </div>
<% end %>

<% if get_db_version >= '12.1' %>
    <div class="float_left">
      <%=
        ajax_submit('SQL-Translation', {
            :controller           => :dba_sga,
            :action               => :generate_sql_translation,
            :update_area          => @update_area,
            :sql_id               => @sql_id,
            :user_name            => @sql.parsing_schema_name
        }, :title=> t(:dba_history_list_sql_detail_historic_create_translation_hint, :default=>"Generate script to create profile for SQL-translation-framework for this SQL."))
      %>
    </div>
<% end %>

<% if get_db_version >= '12.1' %>
    <div class="float_left">
      <%=
        ajax_submit('SQL-Patch', {
            :controller           => :dba_sga,
            :action               => :generate_sql_patch,
            :update_area          => @update_area,
            :sql_id               => @sql_id,
        }, :title=> t(:dba_history_list_sql_detail_historic_create_sql_patch_hint, :default=>"Generate script to create SQL patch for this SQL."))
      %>
    </div>
<% end %>

<div  style="clear: both;"></div>
