<%
  @wait_class_canvas_id = get_unique_area_id
  @unique_id = get_unique_area_id
%>

<div id="<%= @wait_class_canvas_id %>"></div>

<script type="application/javascript">
    draw_dashboard('<%= @unique_id %>', '<%= @wait_class_canvas_id %>', <%=  @hours_to_cover %>, <%= @refresh_cycle_minutes %>, '<%= @refresh_cycle_id %>');
</script>