<% @update_area=get_unique_area_id %>

<div class="page_caption">Global cache request latency from GV$SysStat:
  <% @totals.each do |t| %>
      <%= "Instance #{t.inst_id}: #{formattedNumber(t.avg_receive_time_ms,2)} ms  " %>
  <% end %>
</div>

<%= ajax_form(:controller => :dba_waits, :action=>:list_gc_request_latency_history, :update_area=>@update_area) do %>
  <div class="flex-row-container">
    <%= include_start_end_timepicker %>
    <div class="flex-row-element">
      RAC-Instance
      <%= text_field_tag(:instance, read_from_client_info_store(:instance), :size=>3, :title => "RAC-Instance") %>
    </div>
    <div class="flex-row-element">
      <%= submit_tag(t(:show, :default=>'Show'), :title => t(:dba_waits_show_gc_request_latency_show_hint, :default=>'Show request latency of single AWR-snapshots')) %>
    </div>
  </div>
<% end %>
<div id="<%= @update_area %>" style="float:left; width:100%; ">
</div>
